{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.
{project_app_dirs, ["."]}.
{plugins, [rebar3_hex]}.
{hex, [
    {package, glyphastore},
    {version, "0.1.0"},
    {licenses, ["BSD-3-Clause"]},
    {links, [{"GitHub", "https://github.com/gpicchiarelli/GlyphaStore"}]},
    {extra_files, ["LICENSE", "NOTICE", "THIRD_PARTY_NOTICES.md", "README.md", "CHANGELOG.md"]}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info, warnings_as_errors]}
    ]}
]}.

{dialyzer, [
    {warnings, [error_handling, unknown]},
    {plt_extra_apps, [ssl, public_key]}
]}.

{shell, [{apps, [glyphastore]}]}.
